

<div class="row">

<h2 class="text-center">Login</h2>
    <%= form_tag sessions_path do %>
        <div class="large-6 columns large-centered">
        <% if flash[:notice] %>
            <div class="alert-box alert round text-center">

                    <%= flash[:notice] %>

            </div>
        <% end %>
        <fieldset>
        <legend>Login</legend>
            <%= label_tag :email, "Email adress:" %>
            <%= email_field_tag :email %>
            <%= label_tag :password, "Password:" %>
            <%= password_field_tag :password %>
            <%= submit_tag "Login", { class: "button small radius right postfix success" } %>
        </fieldset>
        </div>
    <%- end %>
</div>