

<div class="row">
    <div class="large-6 large-centered large-offset-3">

        <% if @apikeys.any? == false %>
            <h4 class="panel text-center"> No current registrations</h4>
        <% end %>
        <% @apikeys.each do |apikey| %>

            <fieldset class="toggle">
            <h4 class="subheader text-center"> <%= apikey.email  %> </h4>
            <div class="row hide apikeys">
            <hr>

            <div class="row text-center">
                <div class="large-6 columns">
                    <h6 class="subheader">Created at:</h6>
                    <strong><%= apikey.created_at  %></strong>
                </div>
                <div class="large-6 columns">
                    <h6 class="subheader">Last updated at:</h6>
                    <strong><%= apikey.updated_at  %></strong>
                </div>
            </div>
            <hr>
            <div class="row">

                <div class="large-6 columns">

                    <%= form_tag "/apikeys/" + apikey.id.to_s, method: "delete" do %>
                         <button type="submit" class="alert radius  large-offset-3">Revoke</button>
                    <% end %>
                </div>
                <div class="large-6 columns">
                    <button class="success radius large-offset-3">Send email</button>
                </div>

            </div>
            </fieldset>

        <% end %>
        </div>
    </div>
</div>