



    <div class="row">

    <h2 class="text-center">Register to get an api-key</h2>

        <%= form_tag "/apikeys" do %>

            <div class="large-6 columns large-centered">
            <fieldset>
                <legend>Register</legend>
                    <%= label_tag :email, "Email adress:" %>
                    <%= text_field_tag :email %>
                    <%= submit_tag "Register", {class: "button small radius right postfix success "} %>
                </fieldset>
            </div>
        <%- end %>
    </div>

    <% if flash[:apikey] %>
        <div class="row">
            <div class="large-12 columns large-centered text-center ">
                <h2 class="text-center"><%= flash[:apikey][:msg] %></h2>

                <h3 class="panel radius large-6 column text-centered large-centered">
                    <%= flash[:apikey][:key] or flash[:apikey][:email] %>

                </h3>
            </div>
        </div>
    <% end %>
