
<div class="row">
    <ul class="button-group right">
        <% unless session[:admin_id].present? %>
            <li><a class="small button" href="/register">Api-key</a></li>
            <li><a class="small button" href="/login">Login</a></li>
        <% else %>
            <li><a class="small button" href="/logout">Logout</a></li>
        <% end %>
    </ul>
</div>