<h2 class="text-center">Terminal</h2>


<div class="large-8 columns large-centered panel">
    <div class="terminal">
        <div class="terminal-messages">

            <div class="large-12 columns terminal-message">
                <p>Welcome to our api prompt. You can interact as an admin or fetch an api-key as a developer.</p>
                <p>Type "help" for available commands</p>
            </div>

        </div>
        <div class="prompt">
            <div class="cmd"> >> </div>

            <div contenteditable="true" id="terminal"></div>


        </div>
    </div>
</div>
<%= javascript_include_tag "require", :"data-main" => "/assets/terminal/main.js" %>