<h1>Confirm update of api key</h1>
<p>You have requested a new api key.</p>
<p>This will override your current api key, it will no longer be working</p>
<p>The url is only active for 15 minutes.</p>

<%= url_for(host: 'rails.dev/confirmkey/' + @user["update_token"],
            controller: 'apikeys',
            action: 'index',
            only_path: false) %>


<p>If you havent made this request, do not update.</p>